body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclubcatt.com%2Fcdn%2Fshop%2Farticles%2Fdomestic-house-cat.png%3Fv%3D1689444796&f=1&nofb=1&ipt=85d35a8c7acdfaa4068c9401f205839a54effb9b94c8e2106d8cc60f6a04b5bc");
}

h1 {
    font-size: 100px;
    color: aliceblue;
}